body{
    min-width: 420px;
    min-height: 220px;
}
.bg{
    background-color: #ccc;
    height: 200px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.circle1{
    background-color: #fc0;
    height: 50px;
    width: 50px;
    border-bottom-right-radius:50px;
}
.circle2{
    background-color: #fc0;
    height: 50px;
    width: 50px;
    border-top-left-radius: 50px;
    position: absolute;
    bottom: 0px;
    right:0px;
}